body{font-family: 'Poppins', sans-serif;
margin: 0px;}

section{display:flex;}

.half-width{width: 50%;
 padding-left: 2%;}

.half-width img{width: 70%;}

.topbanner{background-image: url(Nimage3/top-banner.png);
background-repeat: no-repeat;
margin-left:0 ;}

h1{color: crimson;
font-size: 50px;}
snap{color:black}

.linkbutton{background-color:blueviolet;
text-decoration: none;
border-radius: 5px;
color: chartreuse;
padding: 10px 40px ;}



section{display: flex;}

.half-width img{width: 70%;}

.half-width{width: 50%;
padding: 2%;
margin-top: 20px;
margin-bottom:20px ;}


.insbutton{text-decoration: none;
background-color: coral;
padding-left: 10px 40px ;
border-radius:5px;
color: honeydew;}


.dream-big{background-image: url(Nimage3/dream-bg.png);
background-repeat:no-repeat ;
background-position: right;}