body{font-family: 'Poppins', sans-serif;
margin: 0px;}

.flexible-container{display:flex;}

.half-width{width: 50%;
 padding-left: 2%;}

.half-width img{width: 70%;}

.topbanner{background-image: url(Nimage3/top-banner.png);
background-repeat: no-repeat;
margin-left:0 ;}

h1{color: crimson;
font-size: 50px;}
snap{color:black}

.linkbutton{background-color:blueviolet;
text-decoration: none;
border-radius: 5px;
color: chartreuse;
padding: 10px 40px ;}



.flexible-container{display: flex;}

.half-width img{width: 70%;}

.half-width{width: 50%;
padding: 2%;
margin-top: 20px;
margin-bottom:20px ;}


.insbutton{text-decoration: none;
background-color: coral;
padding-left: 10px 40px ;
border-radius:5px;
color: honeydew;}


.dream-big{background-image: url(Nimage3/dream-bg.png);
background-repeat:no-repeat ;
background-position: right;}

.experience-item{width: 50%;
margin-left: 5%;
margin-right: 5%;
padding-left: 5%;
padding-right: 5% ;
box-shadow: 10px 20px 40px  blue;}

.Blue-color{color: blue;}
.experience-area{background-image: url(Nimage3/exp-bg.png);
background-repeat:no-repeat ;
background-position:left ;}

#babyd{border-left: 10px solid crimson;
border-right:7px solid fuchsia ;}
#fullsd{border-right:7px solid royalblue ;
border-left:7px solid chocolate ;}

footer p{text-align:center ;
text-decoration-color:red ;}
